// Simple shortcut to check if the argument is an array
is_array()
  return length(arguments) > 1


// Returns first defined variable or entity, false otherwise
//   predefined arguments are needed so the function would
//   return an array if it's the only argument
or($arg1, $arg2 = false, args...)
  for $arg in arguments
    return $arg if $arg != false and (typeof($arg) != 'ident' or is_array($arg) or $arg == 0)
  return false


// Flatten nested arrays to a flat one-level array
// Use as
//   a: flatten(1..5, 7..10, 14..15, 17..18)
//   a: flatten(1..5 7..10 14..15 17..18)

flatten()
  result = ()

  compute()
    for arg in arguments
      if length(arg) > 1
        compute(arg)
      else
        push(result, arg)

  compute(arguments)
  return result


// Transparentify a color
// Inspiration: https://github.com/LearnBoost/stylus/issues/313
// Use as
//   color: rgb2rgba(#CC6699)
rgb2rgba(color, underlay = #FFF)
  r1 = red(color)
  g1 = green(color)
  b1 = blue(color)

  r2 = red(underlay)
  g2 = green(underlay)
  b2 = blue(underlay)

  a1 = a2 = a3 = abs(r1 - r2) / 255 if r1 != r2

  a1 = abs(r1 - r2) / (255 - r2) if not r2 in (r1 255)
  a2 = abs(g1 - g2) / (255 - g2) if not g2 in (g1 255)
  a3 = abs(b1 - b2) / (255 - b2) if not b2 in (b1 255)

  a = min(a1,min(a2,a3))

  r = r2 + (r1 - r2) / (floor(a * 100) / 100)
  g = g2 + (g1 - g2) / (floor(a * 100) / 100)
  b = b2 + (b1 - b2) / (floor(a * 100) / 100)

  a = round(a * 100) / 100

  return rgba(r,g,b,a)

// Alias
transparentify = rgb2rgba
