foo(arguments)
  +cache(arguments) // FIXME: For some reason the `, false` here don't work
    width: arguments

bar(arguments)
  +cache(arguments)
    height: arguments

.a
  foo: 10px
  bar: 10px

.b
  foo: 10px
  bar: 20px

.c
  foo: 20px
  bar: 10px
