.test1
  test: called_from()

foo()
  return called_from()

.test2
  test: foo()

bar()
  return foo()

.test3
  test: bar()

baz()
  return bar()

.test4
  test: baz()

.test5
  test: baz()[0]

foo2()
  return called_from(false)

foo3()
  return called_from(true)

bar2()
  foo2()

bar3()
  foo3()

.test6
  test: bar2()

.test7
  test: foo3()

.test8
  test: bar3()
