@import "../../utilus"

.a
  test1: compare_strings('>','1','4')
  test2: compare_strings('<','1','4')
  test3: compare_strings('==','1','4')
  test4: compare_strings('>=','1','4')
  test5: compare_strings('<=','1','4')

.b
  test1: compare_strings('>','10','4')
  test2: compare_strings('<','10','4')
  test3: compare_strings('==','10','4')
  test4: compare_strings('>=','10','4')
  test5: compare_strings('<=','10','4')

.c
  test1: compare_strings('>','10','40')
  test2: compare_strings('<','10','40')
  test3: compare_strings('==','10','40')
  test4: compare_strings('>=','10','40')
  test5: compare_strings('<=','10','40')

.d
  test1: compare_strings('>','5','5')
  test2: compare_strings('<','5','5')
  test3: compare_strings('==','5','5')
  test4: compare_strings('>=','5','5')
  test5: compare_strings('<=','5','5')

.e
  test1: compare_strings('>','555','555')
  test2: compare_strings('<','555','555')
  test3: compare_strings('==','555','555')
  test4: compare_strings('>=','555','555')
  test5: compare_strings('<=','555','555')

.f
  test1: compare_strings('>','555','55')
  test2: compare_strings('<','555','55')
  test3: compare_strings('==','555','55')
  test4: compare_strings('>=','555','55')
  test5: compare_strings('<=','555','55')

