@import "../../utilus"

$foo = ()
.had-none
  val: append_($foo,'a')

$foo = 'b'
.was-string
  val: append_($foo, 'a')

$foo = 'b' 'c'
.array
  val: append_($foo, 'a')

$foo = 'b', 'c'
.comma-list
  val: append_($foo, 'a')

$foo = 'b', 'c' 'd'
.mixed1
  val: append_($foo, 'a')

$foo = 'b' 'c', 'd'
.mixed2
  val: append_($foo, 'a')

// Not sure this should be without comma
$foo = 'c' 'd'
.append_array
  val: append_($foo, 'a' 'b')

$foo = 'c', 'd'
.append_list
  val: append_($foo, 'a' 'b')

$foo = 'e', 'f' 'g'
.super_mixed
  temp = 'a' 'b', 'c'
  temp = temp 'd'
  val: append_($foo, temp)

$foo = 'b'
.through_comma
  val: append_($foo, 'a', true)

$foo = 'b' 'c'
.through_comma2
  val: append_($foo, 'a', true)

$foo = 'b', 'c'
.through_comma3
  val: append_($foo, 'a', true)

$foo = 'b'
.through_space
  val: append_($foo, 'a', false)

$foo = 'b' 'c'
.through_space2
  val: append_($foo, 'a', false)

$foo = 'b', 'c'
.through_space3
  val: append_($foo, 'a', false)

$foo = 'c', 'd'
.through_space4
  val: append_($foo, 'a' 'b', false)

