.a {
  test1: false;
  test2: true;
  test3: false;
  test4: false;
  test5: true;
}
.b {
  test1: true;
  test2: false;
  test3: false;
  test4: true;
  test5: false;
}
.c {
  test1: false;
  test2: true;
  test3: false;
  test4: false;
  test5: true;
}
.d {
  test1: false;
  test2: false;
  test3: true;
  test4: true;
  test5: true;
}
.e {
  test1: false;
  test2: false;
  test3: true;
  test4: true;
  test5: true;
}
.f {
  test1: true;
  test2: false;
  test3: false;
  test4: true;
  test5: false;
}
