use('called_from.js')

// Returns the current func's call stack,
// without the current func ny default,
// pass `true` to have it there
utilus_called_from($self = false)
  return _called_from($self)

called_from ?= utilus_called_from
