$utilus_mixin_cache = {}

utilus_cache($where, $limit_to_func = true)
  $func_name = '' + called_from() + '__'
  $key = ($limit_to_func ? $func_name : '') + $where
  if $key in $utilus_mixin_cache
    @extend {"$placeholder_for_" + $utilus_mixin_cache[$key]}
  else
    $id = length($utilus_mixin_cache)
    &,
    /$placeholder_for_{$id}
      $utilus_mixin_cache[$key] = $id
      {block}

cache ?= utilus_cache
