$utilus_mixin_cache = {}

utilus_cache()
  $called_from = called_from()
  $key = (current_media() or 'no-media') + '__' + $called_from[0] + '__' + arguments

  if $key in $utilus_mixin_cache
    @extend {"$placeholder_for_" + $utilus_mixin_cache[$key]}
  else if 'cache' in $called_from or 'utilus_cache' in $called_from
    {block}
  else
    $id = length($utilus_mixin_cache)

    &,
    /$placeholder_for_{$id}
      $utilus_mixin_cache[$key] = $id
      {block}

cache ?= utilus_cache
